semana2-Kotlin/.gradle/file-system.probe
semana2-Kotlin/.gradle/7.3.3/gc.properties
semana2-Kotlin/.gradle/7.3.3/checksums/checksums.lock
semana2-Kotlin/.gradle/7.3.3/dependencies-accessors/dependencies-accessors.lock
semana2-Kotlin/.gradle/7.3.3/dependencies-accessors/gc.properties
semana2-Kotlin/.gradle/7.3.3/executionHistory/executionHistory.bin
semana2-Kotlin/.gradle/7.3.3/executionHistory/executionHistory.lock
semana2-Kotlin/.gradle/7.3.3/fileChanges/last-build.bin
semana2-Kotlin/.gradle/7.3.3/fileHashes/fileHashes.bin
semana2-Kotlin/.gradle/7.3.3/fileHashes/fileHashes.lock
semana2-Kotlin/.gradle/buildOutputCleanup/buildOutputCleanup.lock
semana2-Kotlin/.gradle/buildOutputCleanup/cache.properties
semana2-Kotlin/.gradle/buildOutputCleanup/outputFiles.bin
semana2-Kotlin/.gradle/vcs-1/gc.properties
semana2-Kotlin/.idea/.gitignore
semana2-Kotlin/.idea/.name
semana2-Kotlin/.idea/compiler.xml
semana2-Kotlin/.idea/gradle.xml
semana2-Kotlin/.idea/jarRepositories.xml
semana2-Kotlin/.idea/misc.xml
semana2-Kotlin/.idea/vcs.xml
semana3-AndroidStudio/.idea/.gitignore
semana3-AndroidStudio/.idea/.name
semana3-AndroidStudio/.idea/compiler.xml
semana3-AndroidStudio/.idea/gradle.xml
semana3-AndroidStudio/.idea/misc.xml
semana3-AndroidStudio/.idea/vcs.xml
semana3-AndroidStudio/.idea/codeStyles/codeStyleConfig.xml
semana3-AndroidStudio/.idea/codeStyles/Project.xml
